<IfModule mod_rewrite.c>
Options +FollowSymLinks
RewriteEngine On

RewriteCond %{REQUEST_URI} !^/public/ 

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f



RewriteRule ^(.*)$ /public/$1 
#RewriteRule ^ index.php [L]
RewriteRule ^(/)?$ public/index.php [L] 
</IfModule>


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPALLOWID:JL6nkHjtnD
allow from 153.92.15.30
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE JL6nkHjtnD:IPALLOWID
<IfModule mod_php8.c>
    php_value upload_max_filesize 10M
    php_value post_max_size 12M
    php_value max_execution_time 300
</IfModule>


