@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}
body {
    @apply bg-dark;
    font-family: "Poppins", sans-serif;
}
.navbar-fixed {
    @apply fixed z-[9999] bg-dark bg-opacity-80;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0, 0.2);
}

.hamburger-line {
    @apply w-[30px] h-[2px] my-2 block bg-white;
}

.hamburger-active > span:nth-child(1) {
    @apply rotate-45;
}
.hamburger-active > span:nth-child(2) {
    @apply scale-0;
}
.hamburger-active > span:nth-child(3) {
    @apply -rotate-45;
}
/* Animated Scroll */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#layanan {
    animation: fadeIn 1s forwards;
}
/* Spinner */
.spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50; /* Ensure spinner is on top */
}
.bg-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Adjust opacity here */
    z-index: 40; /* Ensure overlay is below spinner */
}
/* For Hero */
.custom-shape-divider-hero-1711684778 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-hero-1711684778 svg {
    position: relative;
    display: block;
    width: calc(135% + 1.3px);
    height: 70px;
}

.custom-shape-divider-hero-1711684778 .shape-fill {
    @apply fill-dark
}

/* For Tentang */
.custom-shape-divider-bottom-1711685508 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1711685508 svg {
    position: relative;
    display: block;
    width: calc(158% + 1.3px);
    height: 90px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1711685508 .shape-fill {
    @apply fill-slate-700

}

/* For Footer */
.custom-shape-divider-top-1709427909 {
    @apply absolute left-0 w-full overflow-hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1709427909 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.1px);
    height: 25px;
}

.custom-shape-divider-top-1709427909 .shape-fill {
    @apply fill-slate-700
}
